* {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

form {
    display: inline-block;
    height: 250px;
    width: 350px;
    padding: 8px;
    margin: 4px;
    border: 2px solid rgb(182, 181, 181);
    border-radius: 10px;
    background-color: rgba(192, 189, 189, 0.5);
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.2);
}

#battle-button {
    height: 30px;
    width: 80px;
    font-size: 16px;
    border-radius: 5px;
}

#battle-results > h1 {
    font-size: 2em;
}

label {
    font-size: 24px;
    margin-top: 20px;
}

select.dropdown {
    size: 2em;
}

h2 {
    font-size: 3em;
    /* margin-left: 7px; */
    margin: .2em;
}

h5 {
    font-size: 1.5em;
}

input {
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.2em solid rgb(182, 181, 181);
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'EB Garamond';
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    border-radius: 10%;
}

input:hover {
    background-color:rgba(207, 206, 218, 0.932);
}

select.dropdown {
    margin-left: 4px;

}

#battle-results > #card-1 {
    font-size: .8em;
    align-content: flex-start;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 10px;
}

#battle-results > #card-2 {
    font-size: .8em;
    align-content: flex-start;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 10px;
}

select.dropdown {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: black;
    border: 5px solid rgba(243, 241, 241, 0.064);
    background-color: rgba(192, 189, 189, 0.356);
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.2);
    border-radius: 10px;
}

a:hover {
    background-color: rgba(83, 83, 83, 0.356);
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.2);
}